//
// Color Variables
//
$font-family: 'Open Sans', sans-serif;;
$primary-color: #272A2D;
$white-color: #ffffff;
$black-color: #111112;
$black_shade:#373a4a;
$lightgray_color: #eceff1;
$error-color: #e74c3c;
$gray_color: #a1afb8;
$gray_color_1:#f7f7f7;
$gray_color_2:#dbdbdb;
$blue_shade:#27aabe;